<a href="https://colab.research.google.com/github/lkostenko/IT_salary_analysis_Ukraine/blob/main/Salary_Analysis_of_IT_Specialists_from_DOU_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Salary Analysis of IT Specialists from DOU Survey (December 2022)

1. Reading data from the file 2022_dec_raw.csv using the sep=';' argument

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:

data_path = '/content/drive/MyDrive/курс Аналітик/Модуль 3. Робота з табличними даними: Pandas та Numpy/data/2022_dec_raw.csv'
df = pd.read_csv(data_path, sep=';')

In [ ]:
df.head()

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,...,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю
0,11.30.2022 10:26:37,"Так, працюю part-time",В Україні,Івано-Франківськ чи область,4000.0,Чоловік,29.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Blockchain,Стартап,8 років
1,11.30.2022 10:26:39,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,NaN,Чоловік,36.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Advanced,...,NaN,NaN,NaN,NaN,NaN,Ruby,Full Stack розробка,Public services / Government,Продуктова,3 роки
2,11.30.2022 10:26:58,"Так, працюю full-time",В Україні,Київ чи область,2500.0,Чоловік,34.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Elementary,...,NaN,NaN,NaN,NaN,NaN,C# / .NET,Full Stack розробка,"Adtech / Advertising, Security, Telecom",Продуктова,4 роки
3,11.30.2022 10:27:31,"Так, працюю full-time",В Україні,Львів чи область,500.0,Жінка,23.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Pre-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Telecom,Продуктова,Пів року
4,11.30.2022 10:27:34,"Ні, тимчасово не працюю",В Україні,Житомир чи область,2800.0,Жінка,33.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Automotive,Продуктова,6 років

Warning: Total number of columns (28) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.tail()

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,...,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю
13310,01.09.2023 11:01,"Так, працюю full-time",В Україні,Харків чи область,4000.0,Чоловік,25.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,"Так, використовую",TypeScript,QA,Medtech / Healthcare,Продуктова,6 років
13311,01.09.2023 11:14,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,3500.0,Чоловік,28.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,JavaScript,Front-end розробка,Blockchain,Аутсорсингова,5 років
13312,01.09.2023 11:19,"Так, працюю full-time",В Україні,Дніпро чи область,1930.0,Чоловік,25.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Blockchain, Fintech / Banking, Mobile",Аутсорсингова,3 роки
13313,01.09.2023 11:28,"Так, працюю full-time",В Україні,Одеса чи область,4500.0,Чоловік,31.0,Середня,Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,NaN,JavaScript,Full Stack розробка,Mobile,Продуктова,8 років
13314,01.09.2023 11:38,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,4200.0,Чоловік,32.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,NaN,PHP,Back-end розробка,"High Load Systems, Media",Аутстафінгова,11 років

2. What columns contain data?

In [ ]:
df.columns

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?',
       'Зарплата у $$$ за місяць, лише ставка після сплати податків',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?',
       'Чи є у вас науковий ступінь? ', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація',
       'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію',
       'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4',
       'Ваша посада5', 'Ваша посада6', 'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

3. How many rows and columns contain data? How many missing values does each column have?

In [ ]:
n_rows = df.shape[0]
n_col = df.shape[1]

print(f"Дані мають {n_rows} рядків та {n_col} колонок")

Дані мають 13315 рядків та 28 колонок

In [ ]:
missing_values = df.isna().sum()
missing_values

Timestamp                                                                         0
Ви працюєте зараз в ІТ?                                                           0
Де ви зараз живете?                                                               0
В якій області ви зараз живете?                                                1777
Зарплата у $$$ за місяць, лише ставка після сплати податків                      27
Ваша стать                                                                        0
Ваш вік                                                                           0
Яка у вас освіта?                                                                 0
Чи є у вас науковий ступінь?                                                    111
Знання англійської мови                                                           0
Оберіть вашу посаду                                                               0
Ваш тайтл                                                                         0
Ваша спеціалізація                                                            13156
Вкажіть вашу спеціалізацію                                                    10951
Оберіть вашу спеціалізацію                                                    12829
Ваша посада                                                                   13010
Оберіть вашу посаду2                                                          12755
Ваша посада3                                                                  12494
Ваша посада4                                                                  12830
Ваша посада5                                                                  13027
Ваша посада6                                                                  12962
Ваша посада7                                                                  13199
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     8441
Основна мова програмування                                                     4255
Вкажіть вашу основну спеціалізацію                                             4256
В якій сфері працюєте?                                                            0
Тип компанії                                                                      0
Загальний стаж роботи за спеціальністю                                            0
dtype: int64

4. Which columns have all values filled (i.e., do not have any None values)

In [ ]:
complete_columns = missing_values == 0

columns_without_missing_values = complete_columns[complete_columns == True]
columns_without_missing_values

Timestamp                                 True
Ви працюєте зараз в ІТ?                   True
Де ви зараз живете?                       True
Ваша стать                                True
Ваш вік                                   True
Яка у вас освіта?                         True
Знання англійської мови                   True
Оберіть вашу посаду                       True
Ваш тайтл                                 True
В якій сфері працюєте?                    True
Тип компанії                              True
Загальний стаж роботи за спеціальністю    True
dtype: bool

5. What is the data type of each column in the dataset?

In [ ]:
df.dtypes

Timestamp                                                                     object
Ви працюєте зараз в ІТ?                                                       object
Де ви зараз живете?                                                           object
В якій області ви зараз живете?                                               object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   object
Ваша стать                                                                    object
Ваш вік                                                                       object
Яка у вас освіта?                                                             object
Чи є у вас науковий ступінь?                                                  object
Знання англійської мови                                                       object
Оберіть вашу посаду                                                           object
Ваш тайтл                                                                     object
Ваша спеціалізація                                                            object
Вкажіть вашу спеціалізацію                                                    object
Оберіть вашу спеціалізацію                                                    object
Ваша посада                                                                   object
Оберіть вашу посаду2                                                          object
Ваша посада3                                                                  object
Ваша посада4                                                                  object
Ваша посада5                                                                  object
Ваша посада6                                                                  object
Ваша посада7                                                                  object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    object
Основна мова програмування                                                    object
Вкажіть вашу основну спеціалізацію                                            object
В якій сфері працюєте?                                                        object
Тип компанії                                                                  object
Загальний стаж роботи за спеціальністю                                        object
dtype: object

Numeric columns can be converted for: Зарплата у $$$ за місяць, лише ставка після сплати податків, Ваш вік

6. Transform the columns'Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків' to the float data type

In [ ]:
df['Зарплата у $$$ за місяць, лише ставка після сплати податків'] = df["Зарплата у $$$ за місяць, лише ставка після сплати податків"].str.replace(',', '.').astype(float)
df['Ваш вік'] = df['Ваш вік'].str.replace(',', '.').astype(float)

In [ ]:
df[['Зарплата у $$$ за місяць, лише ставка після сплати податків', 'Ваш вік']].dtypes

Зарплата у $$$ за місяць, лише ставка після сплати податків    float64
Ваш вік                                                        float64
dtype: object

7. Transform the 'Timestamp' column to the data type `datetime64[ns]`

In [ ]:
import datetime

In [ ]:

def get_time(date):
  correct_date = None
  if len(date) == 19:
    correct_date = datetime.datetime.strptime(date, "%m.%d.%Y %H:%M:%S")
  elif len(date) == 16:
    correct_date = datetime.datetime.strptime(date, "%m.%d.%Y %H:%M")
  return correct_date

In [ ]:
date_string = "11.30.2022 10:26:37"
date_str = "01.09.2023 11:38"
print(len(date_string), len(date_str))

19 16

In [ ]:
print(get_time(date_str))

2023-01-09 11:38:00

In [ ]:
df['Timestamp'] = df.Timestamp.apply(get_time)

In [ ]:
df['Timestamp']

0       2022-11-30 10:26:37
1       2022-11-30 10:26:39
2       2022-11-30 10:26:58
3       2022-11-30 10:27:31
4       2022-11-30 10:27:34
                ...
13310   2023-01-09 11:01:00
13311   2023-01-09 11:14:00
13312   2023-01-09 11:19:00
13313   2023-01-09 11:28:00
13314   2023-01-09 11:38:00
Name: Timestamp, Length: 13315, dtype: datetime64[ns]

8. For columns with the data type object (which remained as such after all transformations), display the number of unique values

In [ ]:
df.select_dtypes('object').columns.nunique()

27

In [ ]:
df.select_dtypes('object').nunique() #correct answer

Ви працюєте зараз в ІТ?                                                          5
Де ви зараз живете?                                                              2
В якій області ви зараз живете?                                                 23
Ваша стать                                                                       2
Яка у вас освіта?                                                                5
Чи є у вас науковий ступінь?                                                     3
Знання англійської мови                                                          5
Оберіть вашу посаду                                                             22
Ваш тайтл                                                                       10
Ваша спеціалізація                                                               8
Вкажіть вашу спеціалізацію                                                       4
Оберіть вашу спеціалізацію                                                      21
Ваша посада                                                                     15
Оберіть вашу посаду2                                                             7
Ваша посада3                                                                     7
Ваша посада4                                                                     5
Ваша посада5                                                                     6
Ваша посада6                                                                     2
Ваша посада7                                                                     4
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?       2
Основна мова програмування                                                      33
Вкажіть вашу основну спеціалізацію                                              12
В якій сфері працюєте?                                                        1768
Тип компанії                                                                     6
Загальний стаж роботи за спеціальністю                                          19
dtype: int64

9. For columns with the data type object, I display the top 10 most frequent values along with the count of rows in which each value appears

In [ ]:
df["Ваш вік"].value_counts().head(10)

Ваш вік
25    929
27    879
28    847
26    835
30    820
29    790
24    739
32    690
31    686
23    671
Name: count, dtype: int64

In [ ]:
object_col = df.select_dtypes('object').columns
for column in object_col:
  result_object_col = df[column].value_counts().head(10)
  print(result_object_col)

Ви працюєте зараз в ІТ?
Так, працюю full-time      12643
Ні, тимчасово не працюю      380
Так, працюю part-time        152
Так, я фрилансер             115
Інше                          25
Name: count, dtype: int64
Де ви зараз живете?
В Україні                                                      11587
За кордоном (переїхали через війну, але планую повернутися)     1728
Name: count, dtype: int64
В якій області ви зараз живете?
Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Одеса чи область                443
Харків чи область               355
Полтава чи область              252
Черкаси чи область              232
Хмельницький чи область         230
Name: count, dtype: int64
Зарплата у $$$ за місяць, лише ставка після сплати податків
3000    561
2000    468
5000    454
4000    450
1000    427
2500    401
1500    396
3500    378
4500    292
6000    281
Name: count, dtype: int64
Ваша стать
Чоловік    10221
Жінка       3094
Name: count, dtype: int64
Ваш вік
25    929
27    879
28    847
26    835
30    820
29    790
24    739
32    690
31    686
23    671
Name: count, dtype: int64
Яка у вас освіта?
Вища (бакалавр, спеціаліст, магістр)    10645
Дві вищі                                 1002
Ще студент вишу                           811
Середня                                   447
Середня спеціальна                        410
Name: count, dtype: int64
Чи є у вас науковий ступінь?
Немає                  12980
Кандидат наук / PhD      216
Доктор наук                8
Name: count, dtype: int64
Знання англійської мови
Upper-Intermediate    5538
Intermediate          4475
Advanced              1622
Pre-Intermediate      1401
Elementary             279
Name: count, dtype: int64
Оберіть вашу посаду
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             6773
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     2364
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager     821
HR/Recruiter                                                                       560
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                       486
Analyst (Business, Data, System)                                                   485
DevOps, SRE                                                                        353
Marketing, SEO, Copywriter                                                         305
Data Science, Machine Learning, Big Data                                           288
Game Developer / Programmer                                                        160
Name: count, dtype: int64
Ваш тайтл
Middle            4710
Senior            3400
Junior            2316
Team Lead          883
Немає тайтлу       571
Tech Lead          430
Manager            375
Head               250
Intern/Trainee     240
Architect          140
Name: count, dtype: int64
Ваша спеціалізація
Programmer                       89
Gameplay Programmer              42
Engine Programmer                 8
.NET Programmer                   6
Ul Programmer                     4
Rendering/Graphics Programmer     4
Al Programmer                     3
Інше                              3
Name: count, dtype: int64
Вкажіть вашу спеціалізацію
Manual QA         1467
Automation QA      531
General QA         354
Performance QA      12
Name: count, dtype: int64
Оберіть вашу спеціалізацію
UI/UX Designer              201
Product Designer             60
3D Artist                    40
2D Artist                    35
Graphic / Video Designer     33
Game Designer                20
Designer                     15
Animator                     14
Other                        12
Web Designer                 11
Name: count, dtype: int64
Ваша посада
Other                            44
Marketing Manager                44
SEO Specialist                   34
Digital Marketing Manager        33
Copywriter                       27
Chief Marketing Officer (CMO)    22
Employer Brand Manager           20
SMM Manager                      20
PR Manager                       16
Product Marketing Manager        11
Name: count, dtype: int64
Оберіть вашу посаду2
Recruiter                             201
HR Manager                            131
Talent Acquisition Manager             52
Talent Researcher/Sourcer              51
HR Director                            45
HR Business Partner                    40
People partner / Happiness manager     40
Name: count, dtype: int64
Ваша посада3
Project Manager     443
Product Manager     135
Delivery Manager     88
Product Owner        67
Scrum Master         42
Program Manager      29
Business Manager     17
Name: count, dtype: int64
Ваша посада4
Business Analyst    289
Data Analyst        106
Product Analyst      34
System Analyst       32
BI Analyst           24
Name: count, dtype: int64
Ваша посада5
Data Engineer / Big Data Engineer    104
Data Scientist                        93
Machine Learning Engineer             46
Computer Vision Engineer              21
Research Engineer                     15
BI Engineer                            9
Name: count, dtype: int64
Ваша посада6
DevOps Engineer              325
Site Reliability Engineer     28
Name: count, dtype: int64
Ваша посада7
CTO                        41
Director of Engineering    33
CEO, (co-) founder         28
Program Director           14
Name: count, dtype: int64
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?
Ні, не використовую    2754
Так, використовую      2120
Name: count, dtype: int64
Основна мова програмування
JavaScript    1695
Java          1241
Python        1190
TypeScript    1179
C# / .NET     1179
PHP            627
Kotlin         286
C++            251
Swift          221
SQL            201
Name: count, dtype: int64
Вкажіть вашу основну спеціалізацію
Back-end  розробка               2847
Full Stack розробка              1628
Front-end  розробка              1628
QA                               1079
Mobile  розробка                  665
Робота з даними, аналіз даних     558
DevOps                            308
Інше                              293
Embedded                           49
embedded                            2
Name: count, dtype: int64
В якій сфері працюєте?
Інша                    1445
E-commerce              1243
Fintech / Banking        942
Medtech / Healthcare     547
GameDev                  449
Gambling                 352
Edtech / Education       250
Telecom                  232
Mobile                   200
Adtech / Advertising     193
Name: count, dtype: int64
Тип компанії
Аутсорсингова    5593
Продуктова       4940
Аутстафінгова    1767
Стартап           539
Інша              355
Фріланс           121
Name: count, dtype: int64
Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
Name: count, dtype: int64

Almost all surveyed people work full-time, with only a small percentage of freelancers and temporarily unemployed individuals. This indicates high demand for IT specialists in the market.

Most of the respondents live in Ukraine, mainly in large cities, especially in Kyiv, Lviv, and Dnipropetrovsk regions.

The majority of respondents earn around 3000 or 2000 USD.

Most IT specialists are male.

Most respondents have higher education, with a small portion of specialists having secondary education, but this category is much smaller.

The majority of respondents have a high level of English—Intermediate or Upper-Intermediate. This reflects the importance of English in the IT field, especially for working with international teams or clients.

The largest group of respondents holds positions as Software Engineers and QA Engineers.

Most of the surveyed individuals work in outsourcing companies.

The majority of respondents have 1 to 5 years of work experience

10.  Displaying the median salary (Salary in $$$) for each level of English proficiency

In [ ]:
df["Зарплата у $$$ за місяць, лише ставка після сплати податків"] = df["Зарплата у $$$ за місяць, лише ставка після сплати податків"].str.replace(',', '.').astype(float)

In [ ]:
df["Зарплата у $$$ за місяць, лише ставка після сплати податків"].dtype

dtype('float64')

In [ ]:
df.groupby('Знання англійської мови')["Зарплата у $$$ за місяць, лише ставка після сплати податків"].median().sort_values(ascending=False)

Знання англійської мови
Advanced              3500.0
Upper-Intermediate    3300.0
Intermediate          2125.0
Pre-Intermediate      1404.0
Elementary            1155.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

It can be concluded that English proficiency is very important. The higher the level of English, the higher the salary

11. Sorting the English proficiency levels

In [ ]:
df['Знання англійської мови'] = pd.Categorical(df['Знання англійської мови'],
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)

df['Ваш тайтл'] = pd.Categorical(df['Ваш тайтл'],
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)

In [ ]:
df.dtypes

Timestamp                                                                       object
Ви працюєте зараз в ІТ?                                                         object
Де ви зараз живете?                                                             object
В якій області ви зараз живете?                                                 object
Зарплата у $$$ за місяць, лише ставка після сплати податків                    float64
Ваша стать                                                                      object
Ваш вік                                                                         object
Яка у вас освіта?                                                               object
Чи є у вас науковий ступінь?                                                    object
Знання англійської мови                                                       category
Оберіть вашу посаду                                                             object
Ваш тайтл                                                                     category
Ваша спеціалізація                                                              object
Вкажіть вашу спеціалізацію                                                      object
Оберіть вашу спеціалізацію                                                      object
Ваша посада                                                                     object
Оберіть вашу посаду2                                                            object
Ваша посада3                                                                    object
Ваша посада4                                                                    object
Ваша посада5                                                                    object
Ваша посада6                                                                    object
Ваша посада7                                                                    object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?      object
Основна мова програмування                                                      object
Вкажіть вашу основну спеціалізацію                                              object
В якій сфері працюєте?                                                          object
Тип компанії                                                                    object
Загальний стаж роботи за спеціальністю                                          object
dtype: object

12. Creating a pivot table where the columns are 'Your Job Title', the rows are 'English Proficiency Level', and the values represent the median salary

In [ ]:
pivot_salary_englevel_title = pd.pivot_table(df, index='Ваш тайтл', columns='Знання англійської мови', values='Зарплата у $$$ за місяць, лише ставка після сплати податків', aggfunc='median')
pivot_salary_englevel_title = pivot_salary_englevel_title.style.format('${:.0f}')
pivot_salary_englevel_title = pivot_salary_englevel_title.background_gradient(axis=None, cmap='YlOrRd')

pivot_salary_englevel_title

Salary increases with the level of job title. More experienced professionals (such as Senior, Tech Lead, Architect) earn significantly higher salaries compared to lower titles (Intern/Trainee, Junior).

An improvement in the level of English proficiency can increase the salary by several thousand dollars, especially for Middle, Senior, and Tech Lead roles. However, for some lower job titles (like Intern/Trainee), the importance of English proficiency might be less, but it still contributes to a higher salary

13. Result of the describe() method for the 'Salary' column for the top 5 most frequent regions in the data

In [ ]:
df.groupby("В якій області ви зараз живете?")['Зарплата у $$$ за місяць, лише ставка після сплати податків'].describe().sort_values(by = "count", ascending=False).head(5)

                                count unique   top freq
В якій області ви зараз живете?
Київ чи область                  4411    494  3000  200
Львів чи область                 2353    349  4000   91
Дніпро чи область                 751    167  2000   34
Івано-Франківськ чи область       478    148  3000   21
Вінниця чи область                447    139  3000   19

In [ ]:
top_region = df["В якій області ви зараз живете?"].value_counts().head(5).index
top_region

Index(['Київ чи область', 'Львів чи область', 'Дніпро чи область',
       'Івано-Франківськ чи область', 'Вінниця чи область'],
      dtype='object', name='В якій області ви зараз живете?')

In [ ]:
filtered_df = df[df["В якій області ви зараз живете?"].isin(top_region)]

In [ ]:
filtered_df.groupby("В якій області ви зараз живете?")['Зарплата у $$$ за місяць, лише ставка після сплати податків'].describe()

                                count unique   top freq
В якій області ви зараз живете?
Івано-Франківськ чи область       478    148  3000   21
Вінниця чи область                447    139  3000   19
Дніпро чи область                 751    167  2000   34
Київ чи область                  4411    494  3000  200
Львів чи область                 2353    349  4000   91

Kyiv is the largest labor market, with the highest number of people and a wide range of unique salaries. If access to most job openings and the opportunity to earn a competitive salary are important to you, Kyiv is the best option.

Lviv has the most common salary (4000 USD) and a stable frequency, which can be attractive for those seeking higher salaries. However, the market here is not as large as in Kyiv and might be less diverse.

Dnipro has a larger number of people and unique salaries, but the average salary here is slightly lower (2000 USD). This can be a good choice for those seeking a balance between the number of people in the labor market and salaries.

Ivano-Frankivsk and Vinnytsia have more limited markets, with fewer people and salaries. Here, you are likely to encounter a narrower range of salaries, and they may be lower (usually around 3000 USD). However, this could be an option for those who want to live in smaller cities with less competition.

14. How does salary increase with years of experience?

In [ ]:
df["Загальний стаж роботи за спеціальністю"].unique()

array(['8 років', '3 роки', '4 роки', 'Пів року', '6 років', '1,5 року',
       '1 рік', '2 роки', '5 років', '10 років', 'Менше як 3 місяці',
       '11 років', '7 років', '15 і більше років', '3 місяці', '12 років',
       '9 років', '14 років', '13 років'], dtype=object)

In [ ]:
df['Загальний стаж роботи за спеціальністю'] = pd.Categorical(df['Загальний стаж роботи за спеціальністю'],
                      categories=['8 років', '3 роки', '4 роки', 'Пів року', '6 років', '1,5 року',
       '1 рік', '2 роки', '5 років', '10 років', 'Менше як 3 місяці',
       '11 років', '7 років', '15 і більше років', '3 місяці', '12 років',
       '9 років', '14 років', '13 років'],
                      ordered=True)

In [ ]:
df.groupby("Загальний стаж роботи за спеціальністю")['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()

<ipython-input-55-510ff518ab46>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("Загальний стаж роботи за спеціальністю")['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()

Загальний стаж роботи за спеціальністю
8 років              4700.0
3 роки               2450.0
4 роки               3000.0
Пів року              700.0
6 років              4000.0
1,5 року             1200.0
1 рік                 950.0
2 роки               1700.0
5 років              3500.0
10 років             4600.0
Менше як 3 місяці     800.0
11 років             5000.0
7 років              4250.0
15 і більше років    4500.0
3 місяці              525.0
12 років             4750.0
9 років              4500.0
14 років             5050.0
13 років             4500.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

In [ ]:
pivot_salary_sphere_title = pd.pivot_table(df, index='Вкажіть вашу основну спеціалізацію', columns='Ваш тайтл', values='Зарплата у $$$ за місяць, лише ставка після сплати податків', aggfunc='median')
pivot_salary_sphere_title = pivot_salary_sphere_title.fillna(0).style.format('${:.0f}')
pivot_salary_sphere_title = pivot_salary_sphere_title.background_gradient(axis=None)
pivot_salary_sphere_title

Salaries depend on the role and specialization. For most specializations, Senior, Architect, and Tech Lead roles have the highest salaries. Specializations like Back-end and Full Stack usually offer higher salaries, especially for experienced roles. QA roles tend to have lower salaries."

This trend is typical in the tech industry, where roles that require more specialized skills and experience (such as Tech Lead or Architect) tend to command higher salaries. Full Stack and Back-end developers, due to their broad and high-demand skill sets, also tend to earn higher salaries. QA roles, while essential, may not command the same salary levels as development-focused roles.

In [ ]:
df.columns

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?',
       'Зарплата у $$$ за місяць, лише ставка після сплати податків',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?',
       'Чи є у вас науковий ступінь? ', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація',
       'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію',
       'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4',
       'Ваша посада5', 'Ваша посада6', 'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

In [ ]:
pivot_salary_sphere_title_2 = pd.pivot_table(df, index='Ваша посада4', columns='Ваш тайтл', values='Зарплата у $$$ за місяць, лише ставка після сплати податків', aggfunc='median')
pivot_salary_sphere_title_2 = pivot_salary_sphere_title_2.fillna(0).style.format('${:.0f}')
pivot_salary_sphere_title_2 = pivot_salary_sphere_title_2.background_gradient(axis=None)
pivot_salary_sphere_title_2

The table shows that the highest salaries by job title are found in the following positions:

- **Product Analyst** (especially at the Head and Team Lead levels) with salaries reaching up to $5500.

- **Business Analyst** has an average salary of $1115 for Junior roles.

This indicates that higher-level positions in certain roles, like Product Analyst, can command significantly higher salaries, while entry-level positions, such as Junior Business Analyst, typically offer lower pay.

In [ ]:
pivot_salary_gender_title = pd.pivot_table(df, index='Ваш тайтл', columns='Ваша стать', values='Зарплата у $$$ за місяць, лише ставка після сплати податків', aggfunc='median')
pivot_salary_gender_title = pivot_salary_gender_title.fillna(0).style.format('${:.0f}')
pivot_salary_gender_title = pivot_salary_gender_title.background_gradient(axis=None, cmap='coolwarm' )
pivot_salary_gender_title

The table shows that salaries vary depending on gender and job title. Men have higher salaries compared to women across all job titles